<template>
	<button class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Tooltip on right">
		<slot></slot>
	</button>
</template>

<script>
	import 'bootstrap';
	import 'bootstrap/dist/css/bootstrap.min.css'

	export default {
		name: 'MyButton',

		mounted() {
			const $ = require('jquery')
			$('[data-toggle="tooltip"]').tooltip();
		}
	}
</script>

<style scoped>

</style>
